.Home{
    width: 100%;  
    height: 90vh;  
    position:relative;
}

.HomeText {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    color:rgb(40, 40, 82);
    transform: translate(-50%, -50%);
    font-size: 17px;
}

.Home i{
    position:absolute;
    left: 50%;
    bottom:-40vh;
    font-size:30px;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
.About{
    width:90%;
    margin:5%;
    display:flex;
}

.About img{
    width:40%;
    width: 260px;
    height: 340px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    border:2px solid rgb(40, 40, 82);
    box-shadow:3px 3px rgb(226, 185, 185);
}

.About article{
    width:60%;
    padding:0 5%;
    text-align: left;
}


.Skills {
    width:90%;
    margin:5%;
}

.Skills h2{
    color:brown;
    margin:0 40%;
    width:20%;
    border-bottom: 2px solid rgb(40, 40, 82);
}

.Skills article{
    width:60%;
    margin:0 20%;
    margin-top:4%;
    display:flex;
    flex-wrap: wrap;
}
.Skills div{
    width:10%;
    padding:0 3% 3% 3%;
    color:rgb(40, 40, 82);
}

.Skills i{
    width:100%;
    font-size:50px;
}

.Skills img{
    max-width:60px;
}