.Home{
    width: 100%;    
}

.HomeText {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    color:rgb(40, 40, 82);
    transform: translate(-50%, -50%);
    font-size: 17px;
}